@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

.app {
   height:100%;
   width:100%;
}

#header {
    display: none;
}

#marketing_bg {
    display: none;
}

#footer {
    display: none;
}

#copyright {
    display: none;
}

.welcomeMessage > * {
    display: none;
}

.weekCommencing {
    font-size: 1.5em;
}

a {
    display: none;
}

td.action {
    display: none;
}

th.action {
    display: none;
}

td.day {
    font-size: 5em;
}

tbody > tr > th {
    border-top: 1px solid #d4d4d5;
}